# Local model API example: http://localhost:8080
# Roboflow workflow example: https://serverless.roboflow.com/<workspace>/workflows/<workflow-id>


EXPO_PUBLIC_COGNITO_USER_POOL_ID=
EXPO_PUBLIC_COGNITO_CLIENT_ID=
EXPO_PUBLIC_AWS_REGION=ap-southeast-2

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=i
